body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
.container{
    display: flex;
    justify-content: space-between;
    margin: 0 5%;
}
table, td, th {
    border: 1px solid #ddd;
}
table {
    border-collapse: collapse;
}
th {
    background-color: #444e4a;
    color: white;
    padding: 7px;
}
tr:nth-child(even) {background-color: #f2f2f2;}
tr:hover {background-color: rgb(214, 201, 221);}
td{
    padding: 15px;
}
.hide{
    display: none;
}

